# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin/
obj/
Debug/
Release/
build/build-util/
build/deploy/
build/program-files/
build/userenv-files/
AppPackages/
ClientBin/
ipch/
*.suo
*.bak
*.user
*.sdf
*.opensdf
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.db3
packages/
*.my.*
# mstest test results
#TestResults
*.db
src/KakaoTalk/BundleArtifacts/arm.txt
l10n/*.csv
